
<form (ngSubmit)="onSubmit(form)" #form="ngForm" >
<div class="form">


  <div class="row">
    <div class="offset-1 col-5">
        <label for="exampleInputPassword1">First Name:</label>
        <input type="text" class="form-control"  placeholder="First Name" ngModel name="fname" required>
     </div>
     <div class="col-5">
        <label for="exampleInputPassword1">Last Name:</label>
        <input type="text" class="form-control"  placeholder="Last Name" ngModel name="lname" required>
     </div>
  </div>
     <div class="row">
       <div class="offset-1 col-4">
        <label for="exampleInputPassword1">Email:</label>
        <input type="text" class="form-control"  placeholder="Email" ngModel name="email" email required >
     </div>
     <div class=" col-3">
      <label for="exampleFormControlSelect1" >Role:</label>
      <select class="form-control"  #f (change)="disableYear(f)" [ngModel]="'student'" name="category" required>
       <option value="student">Student</option>
       <option value="teacher">Teacher</option>
       </select>
       </div>
       <div class="col-3">
        <label for="exampleInputPassword1">Roll:</label>
        <input type="number" class="form-control"  placeholder="roll No"  [disabled]="teacher" ngModel name="Roll" number required >
     </div>
     </div>
     <div class="row">
       <div class="offset-1 col-2">
       <label for="exampleFormControlSelect1">Course:</label>
       <select class="form-control"  [ngModel]="'C.S.T'" name="dept" required>
         <option value="C.S.T">CST</option>
         <option value="CVIL">CIVIL</option>
         <option value="E.I.E">EIE</option>
         <option value="E.T.C.E">ETCE</option>
         <option value="E.E">EE</option>
         <option value="ARCH">ARCHITECTURE</option>
         <option value="PHARM">PHARMACY</option>
       </select>
     </div>



        <div class="col-2">
        <label for="exampleFormControlSelect1">Year:</label>
        <select class="form-control" [disabled]="teacher" [ngModel]="'1st'" name="year" required>
        <option value="1st">1st year</option>
        <option value="2nd">2nd year</option>
        <option value="3rd">3rd year</option>
        </select>
        </div>

        <div class="col-2">
            <label for="exampleFormControlSelect1">Semester:</label>
            <select class="form-control"   [disabled]="teacher" [ngModel]="'1st'" name="sem" >
             <option value="1st">1st sem</option>
             <option value="2nd">2nd sem</option>
             <option value="3rd">3rd sem</option>
             <option value="4th">4th sem</option>
             <option value="5th">5th sem</option>
             <option value="6th">6th sem</option>
            </select>
        </div>


        <div class="col-4">
        <label for="exampleInputPassword1">Phone:</label>
        <input type="number" class="form-control"  placeholder="Phone" ngModel name="phone_no" required>
        </div>
     </div>


        <div class="row">
          <div class="offset-1 col-10">
        <label for="exampleFormControlTextarea1">Address:</label>
        <textarea class="form-control" rows="3" ngModel name="address" required></textarea>
        </div>
        </div>


      <div class="row">
        <div class="offset-1 col-4">
      <label for="exampleInputPassword1">City:</label>
      <input type="text" class="form-control"  placeholder="City" ngModel name="city" required>
      </div>

      <div class="col-3">
      <label for="exampleFormControlSelect1">State:</label>
      <select class="form-control"[ngModel]="'West Bengal'" name="state" required>

        <option value="Andhra Pradesh">Andhra Pradesh</option>
        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
        <option value="Assam">Assam</option>
        <option value=" Bihar"> Bihar</option>
        <option value="Chhattisgarh">Chhattisgarh</option>
        <option value="Goa">Goa</option>
        <option value="Gujarat">Gujarat</option>
        <option value="Haryana">Haryana</option>
        <option value="Himachal Pradesh">Himachal Pradesh</option>
        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
        <option value="Jharkhand"> Jharkhand</option>
        <option value="Karnataka">Karnataka</option>
        <option value="Kerala">Kerala</option>
        <option value="Madya Pradesh">Madya Pradesh</option>
        <option value="Maharashtra">Maharashtra</option>
        <option value="Manipur">Manipur</option>
        <option value="Meghalaya">Meghalaya</option>
        <option value="Mizoram">Mizoram</option>
        <option value="Nagaland">Nagaland</option>
        <option value="Orissa">Orissa</option>
        <option value="Punjab">Punjab</option>
        <option value="Rajasthan">Rajasthan</option>
        <option value="Sikkim">Sikkim</option>
        <option value="Tamil Nadu">Tamil Nadu</option>
        <option value="Telagana">Telagana</option>
        <option value="Tripura">Tripura</option>
        <option value="Uttaranchal">Uttaranchal</option>
        <option value="Uttar Pradesh">Uttar Pradesh</option>
        <option value="West Bengal">West Bengal</option>
        </select>
      </div>

      <div class="col-3">
      <label for="exampleInputPassword1">Zip:</label>
      <input type="number" class="form-control"  placeholder="Zip" name="zip" ngModel required>
      </div>
      </div>
      <br>




 <div class="row">
   <div class="offset-3 col-lg-1 col-xs-4 col-sm-3">
     <img id="blah" [src]="image"  >

     </div>

   <div class="offset-1 col">
         <input type='file' (change)="handleFileInput($event.target.files)" style="display: none;" name="image" accept="image/" ngModel #s/>
         <button type="button" class="btn btn-primary" (click)="s.click()">Upload Image</button>
     </div>
 </div>


     <div class="row">
       <div class="offset-4 col">
         <button type="submit" class="btn btn-success" [disabled]=" !form.valid || !formvalid" onclick="document.getElementById('id02').style.display='block'" (click)="print_Data(form)" >SAVE</button>&nbsp;
         <button type="button" class="btn btn-warning">RESET</button>
        </div>
     </div>
    </div>




    <div id="id02" class="modal" >

      <form class="modal-content animate" >
        <div class="imgcontainer" >
          <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>

        </div>

        <div class="container" >
    <h3>Print Library Card</h3>
    <div >
    <div class="modal-body" >
        <div class="modal-body" *ngIf="isValid">
          <mat-spinner *ngIf="isLoading"></mat-spinner>
            <div class="row">
              <div style="padding-left: 14px;">
                <div class="panel panel-default" style="font-size: 12px;" id="print_Container" *ngIf="!isLoading">
                  <table id="p_tbl1" class="" style="width: 49%;float: left;table-layout: fixed;border: 1px solid black;height: 363px;border-collapse:initial;">
                    <tbody>
                    <tr>
                      <td id="p_img_td" rowspan="8" style="width: 186px;border-right: 1px solid lightgrey;">
                        <img ng-src="https://www.library-management.com/wp-content/uploads/2018/04/IMG_1524749478.jpeg" class="img-rounded" alt="User Pic" style="width: 169px;height: 156px;" [src]="image">
                        <ngx-barcode [bc-width]="1" [bc-value]="details?.cardNo" [bc-display-value]="true" ></ngx-barcode> &nbsp;
                      </td>
                      <td style="background-color: beige;padding-bottom: 0px;height: 42px;">
                        <h3 style="text-align:center;font-weight: bold;margin: 2px;margin-bottom: -4px;">
                          Library Card</h3>

                      </td>
                    </tr>
                    <tr style="padding: 0px;height: 25px;padding-top: 6px;padding-left: 8px;">
                      <td style="font-family: -webkit-body;text-align: center;background-color: aliceblue;text-decoration: underline;text-transform: uppercase;font-weight: bold;">WBSCTE</td>
                    </tr>
                    <tr style="padding: 0px;height: 25px;padding-top: 6px;padding-left: 8px;">
                      <td>Siliguri Govt Polytechnic</td>
                    </tr>
                    <tr>
                      <td>CardNo : <span style="font-weight: 700;" class="ng-binding">{{details?.cardNo }}</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="ng-binding">Name : {{ details?.fname | uppercase }} &nbsp;&nbsp; {{ details?.lname | uppercase }}</td>
                    </tr>
                    <tr>
                      <td class="ng-binding">Phone : {{ details?.phone_no }}</td>
                    </tr>
                    <tr ng-show="printScope.role=='Student'" class="">
                      <td class="ng-binding">Course : {{ details?.dept | uppercase}}
                      </td>
                    </tr>
                    <tr ng-show="printScope.role=='Teacher'" class="ng-hide">
                      <td class="ng-binding">Designation : {{ details?.category | uppercase }}
                      </td>
                    </tr>
                    <tr>
                      <td>YEAR : 2019</td>
                    </tr>
                    </tbody>
                  </table>

                  <table id="p_tbl2" class="table table-striped" style="width: 50%;float:right;margin-right: 6px;table-layout: fixed;border: 1px solid black;height: 330px;     border-collapse: initial;">
                    <tbody>
                    <tr>
                      <td class="ng-binding">Email : {{ details?.email }}</td>
                    </tr>
                    <tr>
                      <td class="ng-binding">Address :  {{ details?.address | uppercase }}</td>
                    </tr>
                    <tr>
                      <td>
                        <span style="text-align:left;font-weight: 700;">Instruction</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <ul class="list-group" style="margin-bottom: -1px;">
                                                                  <li class="list-group-item" style="padding: 2px 15px !important;">1. The holder of this card is register person of Demo University.</li>
                                                                      <li class="list-group-item" style="padding: 2px 15px !important;">2. By this registeration the holder agreeds to abide by the Rules and Regulation of the Institute.</li>
                                                                      <li class="list-group-item" style="padding: 2px 15px !important;">3. The Card is for personal use and it is not transfareble.</li>
                                                                      <li class="list-group-item" style="padding: 2px 15px !important;">4.  Finder of the lost card are asked to return them to the Program office at the above address.</li>
                                                                      <li class="list-group-item" style="padding: 2px 15px !important;">5. Only 3 books can be borrowed on this card.</li>
                                                                      <li class="list-group-item" style="padding: 2px 15px !important;">6. Rs 10 will be be charged if this card is lost.</li>
                                                                      <li class="list-group-item" style="padding: 2px 15px !important;">7. Book will be issued only on presense of this card.</li>
                                                                </ul>
                      </td>
                    </tr>
                    </tbody>
                  </table>


                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default pmd-ripple-effect" (click)="printPreview()">Print
              </button>
            </div>

                          </div>
                        </div>
                      </div>
      </form>
    </div>







</form>


