/*

  .input1{
    position: absolute;
    width: 40%;
    left: 2%;
  }

  .input2{
    position: absolute;
    width: 40%;
    left: 50%;
  }

  .input3{
    position: absolute;
    width: 40%;
    top: 14%;
    left: 2%;
  }

  .input4{
    position: absolute;
    top: 30%;
    left: 2%;

  }

  .input5{
    position: absolute;
    top: 30%;
    left: 20%
  }
.input6{
  position: absolute;
  top: 30%;
  left: 35%
}

.input7{
  position: absolute;
  top: 30%;
  left: 49%;
  width: 30%;
}

.input8{
  position: absolute;
  top: 45%;
  left: 2%;
  width: 90%
}

.input9{
  position: absolute;
  top: 67%;
  left: 2%;
}

.input10{
  position: absolute;
  top: 67%;
  left: 25%;
}

.input11{
  position: absolute;
  top: 67%;
  left: 45%;
}

.input12{
  position: absolute;
  width:40%;
  top: 14%;
  left: 50%;
}

.upload{
  position: absolute;
  top: 85%;
  left: 2%;

}
input.ng-invalid.ng-touched{
  border: 1px solid red;
}
.uploadinput{
  position: absolute;
  top: 73%;

  left: 67%;
}

img{
  width: 45%;
}

.save{
  position: absolute;
  top: 90%;
  left: 80%
} */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.btn{
  margin-top: 25px;
  margin-bottom: 0px;
}

#blah{
  height: 100px;
}
.form-control{
  padding: 0px 20px;
  height: 35px;
}
input.ng-invalid.ng-touched{
  border: 1px solid red;
}
textarea.ng-invalid.ng-touched{
  border: 1px solid red;
}

