<nav class="navbar navbar-light bg-light adjust">
  <h3 class="col-lg-6 col-md-6 col-sm-6 col-xs-6 side side-m header">S.G.P Library Management</h3>

    <form class="form-inline ">
      <ul style="list-style-type:none;">
      <li ngbDropdown class="nav-item dropdown ">
        <a ngbDropdownToggle  class=" dropdown-toggle adjust-m" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
         <img src="assets/icons/admin.png">
        </a>
        <div ngbDropdownMenu class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink" style="left: -87%;">
          <a class="dropdown-item" href="#">Logout</a>
          <a class="dropdown-item" href="#"> My Account</a>

        </div>
      </li>

  </ul>

    </form>
  </nav>

