<nav class="navbar">
    <h3 class="col-lg-8 col-md-6 col-sm-7 col-xs-8 offset-md-2 offset-sm-3 offset-lg-2">S.G.P Library Management</h3>
    <form class="form-inline ">
      <ul style="list-style-type:none;">
      <li ngbDropdown class="nav-item dropdown ">
        <a ngbDropdownToggle  class=" dropdown-toggle adjust-m" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
         <img src="assets/icons/admin.png">
        </a>
        <div ngbDropdownMenu class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink" style="left: -87%;">
          <a class="dropdown-item" href="#">Logout</a>
          <a class="dropdown-item" href="#"> My Account</a>

             </div>
          </li>
        </ul>
    </form>
</nav>

