.adjust{
  background-color: #5d6d73!important;
padding:none;
}
h3{
  color:white;
  padding: 10px;

}
hr{
  padding: 0%;
  margin: 0%;
}
div a{
  padding-top:10% ;
  color: black;
  background-color:white;
}
a{
  padding-top:10% ;
  padding-right: 3rem;
  color: white;
  background-color:#5d6d73;

}
nav{
  padding: 0%;
  background-color: lightgray;
}
.navbar{
  background-color: lightgrey;
}
.adjust-m{
  display: block;
  padding: -0.5rem 1rem;

}

img{
  width:28px;
  background: transparent !important;
}
#navbarDropdownMenuLink{
  background: lightgray;
}