@media(max-width: 1920px)
{
  .side-m{
   padding-left: 20%;
  }
}

@media(max-width: 1366px)
{
  .side-m{
   padding-left: 19%;
  }
}
@media(max-width: 1200px)
{
  .side-m{
   padding-left: 22%;
  /* font-size: 20px;*/
  }
}
@media(max-width: 850px)
{
  .side-m{
   padding-left: 36%;
   font-size: 15px;
  }
}
@media(max-width: 720px)
{
  .side-m{
   padding-left: 34%;
   font-size: 15px;
  }
}

.adjust{
  background-color: #5d6d73!important;
padding:none;
}
h3{
  color:white;

}
hr{
  padding: 0%;
  margin: 0%;
}
div a{
  padding-top:10% ;
  color: black;
  background-color:white;
}
a{
  padding-top:10% ;
  padding-right: 3rem;
  color: white;
  background-color:#5d6d73;

}
nav{
  padding: 0%;
}
.adjust-m{
  display: block;
  padding: -0.5rem 1rem;

}

img{
  width:28px;
}
