
<div >


    <div class="searchbox">
        <br><form (ngSubmit)="onSubmit(form)" #form="ngForm">
          <div class="form-row ">

              &nbsp; &nbsp;
                     <input type="number" class="form-control" placeholder="Type Acession no" ngModel name="accession_no" > &nbsp; or &nbsp;

                     <input type="text" class="form-control" placeholder="Title" ngModel name="title">&nbsp; or &nbsp;

                        <input type="number" class="form-control" placeholder="Isbn" ngModel name="isbn">
                        &nbsp;  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Search</button>
                </div>
              </form>
    </div><br>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="tables" style="height:24pc; overflow-x: visible; overflow-y: scroll;" class="form" *ngIf="!isLoading">
    <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Accession no</th>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col">Pages</th>
              <th scope="col">Subject</th>
              <th scope="col">Year</th>
              <th scope="col">Borrowed</th>
              <th scope="col">Borrower</th>
              <th scope="col">Action</th>


            </tr>
          </thead>
          <tbody>

              <tr *ngFor="let book of books; let i=index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ book.accession_no }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.pages }}</td>
                <td>{{ book.subject }}</td>
                <td>{{ book.year }}</td>
                <td>{{ book.borrowed }}</td>
                <td>{{ book.borrower }}</td>
                <td>
                  <button class="btn btn2" (click)="addBarCode(book.accession_no)"><img src="assets/icons/bar.png"></button>
                    <button onclick="document.getElementById('id01').style.display='block'" class="btn btn2" (click)="getDel(book._id)"><img  src="assets/icons/delete.png"></button>

                    <div id="id01" class="modal">

                      <div class="modal-content animate" >
                        <div class="imgcontainer">
                          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

                        </div>

                        <div class="container">
                    <h3>Book Management</h3>
                    <div class="modal-body" style="padding-top: 4%; padding-left: 20%;">
                                          <div class="row">
                                            <div class="holder_sub_book_lst">
                                           <h4>   <b>Once Deleted The Changes Cannot Be Undone!</b></h4>
                                          <p>Are You Sure?</p>
                                                      <button class="btn btn-danger fix_radius" (click)="onDelete(bookdel)">Yes &nbsp;
                                                      </button>&nbsp;
                                                      <button class="btn btn-warning fix_radius" onclick="document.getElementById('id01').style.display='none'">No
                                              </button>
                                                    </div>

                                            </div>
                                          </div>
                                        </div>



                                      </div>
                    </div><br>

                </td>
                </tr>


         </tbody>
        </table>
  </div>
  <mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOption" (page)="onChange($event)"></mat-paginator>
</div>



