
<div class="form">
  <div class="searchbox">

        <br>
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="form-row ">

            &nbsp;&nbsp;
            <div class="row">
              <div class="col-3">
                   <input type="text" class="form-control" placeholder="Email" name="email" ngModel email > &nbsp; &nbsp;</div>or
              <div class="col-3">
                   <input type="text" class="form-control" placeholder="Card No" name="card_no" ngModel >&nbsp; &nbsp;</div>or
                <div class="col-3">
                      <input type="text" class="form-control" placeholder="Phone No" name="phone_no" ngModel ></div>
                      <div class="col">
                      &nbsp;  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Search</button></div>
                      </div>
              </div>
            </form>
            </div>

<div class="tables" style="height:27pc; overflow: scroll;">
<table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Email Id</th>
          <th scope="col">Phone</th>
          <th scope="col">Address</th>
          <th scope="col">Course</th>
          <th scope="col">Year</th>

          <th scope="col">Action</th>



        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let card of LibCard;let i=index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ card.cardNo }}</td>
          <td>{{ card.fname | uppercase }} &nbsp; {{ card.lname | uppercase }}</td>
          <td>{{ card.email | uppercase }}</td>
          <td>{{ card.phone_no }}</td>
          <td>{{ card.address | uppercase }}</td>
          <td>{{ card.dept  }}</td>
          <td>{{ card.year}}</td>

          <td>
              <button onclick="document.getElementById('id01').style.display='block'" class="btn btn2" ><img src="assets/icons/pen.png"></button>

                    <div id="id01" class="modal">

                      <form class="modal-content animate" action="/action_page.php">
                        <div class="imgcontainer">
                          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

                        </div>

                        <div class="container">
                    <h3>Edit Details</h3>
                    <div class="modal-body" style="padding-top: 4%; padding-left: 20%;">
                                          <div class="row">
                                            <div>
<!-- Add the content here   -->
<div class="form">


<div class="row">
       <div class="col">
        <label for="exampleInputPassword1">FirstName</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>

       <div class="col">
          <label for="exampleInputPassword1">LastName:</label>
          <input type="text" class="form-control"  placeholder="Dept">
       </div>
       </div>
<div class="row">
      <div class="col">
          <label for="exampleInputPassword1">Email:</label>
          <input type="text" class="form-control"  placeholder="Email">
       </div>
      </div>

       <div class="row">
         <div class="col">
         <label for="exampleFormControlSelect1">CourseName:</label>
         <select class="form-control" id="exampleFormControlSelect1">
           <option>CST</option>
           <option>CIVIL</option>
           <option>EIE</option>
           <option>ETCE</option>
           <option>EE</option>
           <option>ARCHITECTURE</option>
           <option>PHARMACY</option>
         </select>
       </div>



<div class="col">
  <label for="exampleFormControlSelect1">Year:</label>
  <select class="form-control" id="exampleFormControlSelect1">
   <option>1st year</option>
   <option>2nd year</option>
   <option>3rd year</option>
  </select>
  </div>
  </div>


  <div class="row">
    <div class="col">
   <label for="exampleInputPassword1">Phone:</label>
   <input type="text" class="form-control"  placeholder="Phone">
   </div>






  <div class="col">
  <label for="exampleFormControlSelect1">Semester:</label>
  <select class="form-control" id="exampleFormControlSelect1">
   <option>1st sem</option>
   <option>2nd sem</option>
   <option>3rd sem</option>
   <option>4th sem</option>
   <option>5th sem</option>
   <option>6th sem</option>
  </select>
  </div>
  </div>

<div class="row">
  <div class="col">
  <label for="exampleFormControlTextarea1">Address:</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</div>

<div class="row">
  <div class="col">
  <label for="exampleInputPassword1">City:</label>
  <input type="text" class="form-control"  placeholder="City">
  </div>

  <div class="col">
   <label for="exampleFormControlSelect1">State:</label>
   <select class="form-control" id="exampleFormControlSelect1">
     <option></option>
     <option>Andhra Pradesh</option>
     <option>Arunachal Pradesh</option>
     <option>Assam</option>
     <option>Bihar</option>
     <option>Chhattisgarh</option>
     <option>Goa</option>
     <option>Gujarat</option>
     <option>Haryana</option>
     <option>Himachal Pradesh</option>
     <option>Jammu and Kashmir</option>
     <option>Jharkhand</option>
     <option>Karnataka</option>
     <option>Kerala</option>
     <option>Madya Pradesh</option>
     <option>Maharashtra</option>
     <option>Manipur</option>
     <option>Meghalaya</option>
     <option>Mizoram</option>
     <option>Nagaland</option>
     <option>Orissa</option>
     <option>Punjab</option>
     <option>Rajasthan</option>
     <option>Sikkim</option>
     <option>Tamil Nadu</option>
     <option>Telagana</option>
     <option>Tripura</option>
     <option>Uttaranchal</option>
     <option>Uttar Pradesh</option>
     <option>West Bengal</option>
     </select>
  </div>
</div>

<div class="row">
  <div class="col">
   <label for="exampleInputPassword1">Zip:</label>
   <input type="text" class="form-control"  placeholder="Zip">
  </div>

<div class="col">
  <label for="exampleFormControlSelect1">Role:</label>
  <select class="form-control" id="exampleFormControlSelect1">
   <option>Student</option>
   <option>Teacher</option>
   </select>
   </div>
</div>


   <!----<div class="upload">
       <img id="blah" [src]="'http://placehold.it/180'" alt="your image" >
       </div>-->

      <!-- <div class="uploadinput">
           <input type='file' (change)="readURL($event);" />
       </div>-->
<div class="row">
     <div class="col-md-0 offset-md-3">
           <button type="button" class="btn btn-success">SAVE</button>&nbsp;
           <button type="button" class="btn btn-warning">RESET</button>
       </div>
       </div>


   </div>





                                                    </div>

                                            </div>
                                          </div>
                                        </div>



                      </form>
                    </div>


              <button onclick="document.getElementById('id02').style.display='block'" class="btn btn2 " ><img src="assets/icons/print.png"></button>

                    <div id="id02" class="modal">

                      <form class="modal-content animate" action="/action_page.php">
                        <div class="imgcontainer">
                          <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>

                        </div>

                        <div class="container">
                    <h3>Print Library Card</h3>
                    <div class="modal-body" >
                        <div class="modal-body" >

                            <div class="row">
                              <div style="padding-left: 14px;">
                                <div class="panel panel-default" style="font-size: 12px;" id="print_Container">
                                  <table id="p_tbl1" class="" style="width: 49%;float: left;table-layout: fixed;border: 1px solid black;height: 330px;border-collapse:initial;">
                                    <tbody>
                                    <tr>
                                      <td id="p_img_td" rowspan="8" style="width: 186px;border-right: 1px solid lightgrey;">
                                        <img ng-src="https://www.library-management.com/wp-content/uploads/2018/04/IMG_1524749478.jpeg" class="img-rounded" alt="User Pic" style="width: 169px;height: 156px;" src="https://www.library-management.com/wp-content/uploads/2018/04/IMG_1524749478.jpeg">

                                      </td>
                                      <td style="background-color: beige;padding-bottom: 0px;height: 42px;">
                                        <h3 style="text-align:center;font-weight: bold;margin: 2px;margin-bottom: -4px;">
                                          Library Card</h3>

                                      </td>
                                    </tr>
                                    <tr style="padding: 0px;height: 25px;padding-top: 6px;padding-left: 8px;">
                                      <td style="font-family: -webkit-body;text-align: center;background-color: aliceblue;text-decoration: underline;text-transform: uppercase;font-weight: bold;">WBSCTE</td>
                                    </tr>
                                    <tr style="padding: 0px;height: 25px;padding-top: 6px;padding-left: 8px;">
                                      <td>Siliguri Govt Polytechnic</td>
                                    </tr>
                                    <tr>
                                      <td>Card No :{{ card.cardNo }} <span style="font-weight: 700;" class="ng-binding"></span>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class="ng-binding">Name : {{ card.fname | uppercase }}&nbsp;&nbsp; {{ card.lname | uppercase }}</td>
                                    </tr>
                                    <tr>
                                      <td class="ng-binding">Phone : {{ card.phone_no }}</td>
                                    </tr>
                                    <tr ng-show="printScope.role=='Student'" class="">
                                      <td class="ng-binding">Course : {{ card.dept }} | Year :
                                        {{ card.year }}
                                      </td>
                                    </tr>
                                    <tr ng-show="printScope.role=='Teacher'" class="ng-hide">
                                      <td class="ng-binding">Designation : {{ card.category }}
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>YEAR : {{ year }}</td>
                                    </tr>
                                    </tbody>
                                  </table>

                                  <table id="p_tbl2" class="table table-striped" style="width: 50%;float:right;margin-right: 6px;table-layout: fixed;border: 1px solid black;height: 330px;     border-collapse: initial;">
                                    <tbody>
                                    <tr>
                                      <td class="ng-binding">Email : {{ card.email}}</td>
                                    </tr>
                                    <tr>
                                      <td class="ng-binding">Address : {{ card.address }}</td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <span style="text-align:left;font-weight: 700;">Instruction</span>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <ul class="list-group" style="margin-bottom: -1px;">
                                                                                  <li class="list-group-item" style="padding: 2px 15px !important;">1. The holder of this card is register person of Demo University.</li>
                                                                                      <li class="list-group-item" style="padding: 2px 15px !important;">2. By this registeration the holder agreeds to abide by the Rules and Regulation of the Institute.</li>
                                                                                      <li class="list-group-item" style="padding: 2px 15px !important;">3. The Card is for personal use and it is not transfareble.</li>
                                                                                      <li class="list-group-item" style="padding: 2px 15px !important;">4.  Finder of the lost card are asked to return them to the Program office at the above address.</li>
                                                                                      <li class="list-group-item" style="padding: 2px 15px !important;">5. Only 3 books can be borrowed on this card.</li>
                                                                                      <li class="list-group-item" style="padding: 2px 15px !important;">6. Rs 10 will be be charged if this card is lost.</li>
                                                                                      <li class="list-group-item" style="padding: 2px 15px !important;">7. Book will be issued only on presense of this card.</li>
                                                                                </ul>
                                      </td>
                                    </tr>
                                    </tbody>
                                  </table>


                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-default pmd-ripple-effect" ng-click="printPreview()">Print
                              </button>
                            </div>

                                          </div>
                                        </div>



                      </form>
                    </div>






              <button onclick="document.getElementById('id03').style.display='block'" class="btn btn2" ><img src="assets/icons/delete.png"></button>

                    <div id="id03" class="modal">

                      <form class="modal-content animate" action="/action_page.php">
                        <div class="imgcontainer">
                          <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>

                        </div>

                        <div class="container">
                    <h3>Delete Library Card</h3>
                    <div class="modal-body" style="padding-top: 4%; padding-left: 20%;">
                                          <div class="row">
                                            <div class="holder_sub_book_lst">
                                           <h4>   <b>Once Deleted The Changes Cannot Be Undone!</b></h4>
                                          <p>Are You Sure?</p>
                                                      <button class="btn btn-danger fix_radius" (click)="onDelete(card._id)">Yes &nbsp;
                                                      </button>&nbsp;
                                                      <button class="btn btn-warning fix_radius" >No
                                              </button>
                                                    </div>

                                            </div>
                                          </div>
                                        </div>



                      </form>
                    </div><br>


          </td>
          </tr>





     </tbody>
    </table>
</div>






  </div>




