
 <nav id="sidebar">
  <ul class="list-unstyled components">
     <h4 style="color:whitesmoke; text-align: center"><b>Menu</b></h4>
     <li >
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/dashboard']"><img  src="assets/icons/dashboard.png">&nbsp; Dashboard</a>
      </li>

     <li routerLinkActive="active">
       <a [routerLink]="['/new-book-entry']"  ><img  src="assets/icons/newbook.png">&nbsp;New Book Entry</a>
     </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/issue-book']"><img  src="assets/icons/issue.png">&nbsp;Issue Book</a>
     </li>
     <li routerLinkActive="active">
       <a [routerLink]="['/receive-book']"><img  src="assets/icons/issuereg.png">&nbsp;Receive Book</a>
     </li>
     <li routerLinkActive="active" ><a [routerLink]="['/book-list']"><img  src="assets/icons/booklist.png">&nbsp;Book List</a>
    </li>
    <li routerLinkActive="active">
        <a [routerLink]="['/issue-reg']"><img  src="assets/icons/re.png">&nbsp;Issue Register</a>
      </li>
       <li routerLinkActive="active">
          <a [routerLink]="['/receive-reg']"><img  src="assets/icons/re.png">&nbsp;Receive Register</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/new-lib-card']"><img  src="assets/icons/newlibcaard.png">&nbsp;Issue Library Card</a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['/lib-card-list']"><img  src="assets/icons/re.png">&nbsp;Card Register</a>
          </li>
        <li routerLinkActive="active">
            <a href="#"><img  src="assets/icons/folder.png">&nbsp;About</a>
          </li>

   </ul>

   <ul class="list-unstyled CTAs">
      <h6>Version 1.0</h6>
   </ul>
 </nav>

