.menu-adjust{
  position: relative;
  left: 0%;
  top: 0%;
  z-index: -999;
}
.header{
  z-index: 999;
}
.but{
position: absolute;
top:2%;
left: 1%;
padding: 0;
border: none;
background: none;
}
/* .form1{
  position: absolute;
  top:15%;
  left: 19%;
  border: 1px solid gray;
    width: 80%;
    height: 85%;
    max-height: 90%;
    font-size: 17px;
    word-spacing: 5px;
    overflow: none;
    background-color:whitesmoke;
    margin: 0%;
    padding: 0%;
    z-index: -999;

}
.form2{
  position: absolute;
  top:15%;
  left: 1%;
  border: 1px solid gray;
    width: 98%;
    height: 85%;
    max-height: 90%;
    font-size: 17px;
    word-spacing: 5px;
    overflow: none;
    background-color:whitesmoke;
    margin: 0%;
    padding: 0%;

} */
.col-md-12{
  background: lightgray;
  text-shadow: 1px 3px 17px black;
    box-shadow: -5px -7px 19px 0px black;
    z-index: 1;
}
.col-lg-2, .col-md-4, .col-sm-3, .col-xs-3{
  background: grey;
}
img{
  z-index: 1;
}
.menadj{
  position : absolute;
  top: 20%;
  left: 2%;
  height: 30px;
  cursor: pointer;
}


app-logincomp {
  position: absolute;
  width: 100%;
left: 10%;
}
