<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="assets/icons/menu.png" class="menadj" (click)="toggle()">
      <app-header></app-header>
    </div>
  </div>



  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-3 col-xs-3" [hidden]="onOpen">
      <app-menu ></app-menu>
    </div>
      <div class="col-lg-10 col-md-8 col-sm-9 col-xs-9" [ngClass]="{'offset-1': onOpen}">
        <div>
          <router-outlet></router-outlet>
        </div>
    </div>
  </div>
</div>
