<div class="form">
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">

    <!--div class="heading"><span>NEW BOOK ENTRY</span></div-->
    <!-- First input area -->
    <div class="row">
      <div class="offset-1 col-2">
        <div class="dropdown">
          <select class="form-control" id="exampleFormControlSelect12"  [ngModel]="'student'" name="category" required>
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
          </select>
        </div>
      </div>
      <div class="col-5">
      <div class="input">

        <input type="text" class="form-control" placeholder="Card no" ngModel name="cardNo" required>
      </div>
      </div>
      <div class="col-4">

      <div class="buttons">
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Search</button> &nbsp;
        <button type="reset" class="btn btn-danger">Clear</button>
      </div>
    </div>
    </div>
    <br>

      <!-- info area -->
      <div class="row">
        <div class="col">
          <div class="input1">
            <label class="text2">Name:</label>
          </div>
        </div>



        <div class="col">
          <div class="input2">
            <label class="text2">Dept:</label>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <div class="input3">
            <label class="text2">Card no:</label>
          </div>
        </div>




        <div class="col">
          <div class="input4">
            <label class="text2">Year:</label>
          </div>
        </div>
      </div>
  </form>

  <!-- Second Form Area -->
  <form (ngSubmit)="onSubmit(form2)" #form2="ngForm">

    <div class="row">
      <div class="offset-1 col-2">
            <select class="form-control" id="exampleFormControlSelect1" [ngModel]="'Borrow'" name="category" required >
              <option value="Borrow">Borrow</option>
              <option value="Read">Read</option>
            </select>
          </div>

          <div class="col-5">
        <input type="number" class="form-control" placeholder="Accession no" ngModel name="accession_no"
          required>
          </div>


      <div class="col-4">
        <button type="button" class="btn btn-primary" [disabled]="!form2.valid">Add</button>&nbsp;
        <button type="submit" class="btn btn-success" [disabled]="!form2.valid">Issue</button>&nbsp;
        <button type="reset" class="btn btn-danger">Clear</button>
</div>

    </div>



  </form>


  <br>
  <!-- Table Area -->
  <div class="adjust">
    <div class="tables" style="height:18pc; overflow: scroll;">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col"># </th>
            <th scope="col"> Accession No</th>
            <th scope="col">Isbn </th>
            <th scope="col">Title </th>
            <th scope="col">Author </th>
          <!----<th scope="col"> Sub-Title </th>-->
            <th scope="col">Edition </th>
            <th scope="col">Edition Year </th>
            <th scope="col">Publisher </th>
            <th scope="col">Availiability </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>1254</td>
            <td>letus c</td>
            <td>1234</td>
            <td>Animesh</td>
            <td>10/05/2019</td>
            <td>16/05/2019</td>


          </tr>
          <tr>
            <th scope="row">2</th>
            <td>1254</td>
            <td>letus c</td>
            <td>1234</td>
            <td>Animesh</td>
            <td>10/05/2019</td>
            <td>16/05/2019</td>





          </tr>
          <tr>
            <th scope="row">3</th>
            <td>1254</td>
            <td>letus c</td>
            <td>1234</td>
            <td>Animesh</td>
            <td>10/05/2019</td>
            <td>16/05/2019</td>


        </tbody>

      </table>
    </div>
  </div>
</div>
