/* .container{
    position: absolute;
    left: 30%;
    padding-top: 3%;
    font-weight: 500;
    font-size: x-large;
} */

/* .box-yellow{
    background-color: yellow;
    position: absolute;
    height: 50%;
    width: 50%
} */




