img{
    width:20px;
}

.modal{
<<<<<<< HEAD

    top: 322px;
    width: 100%;
    padding-right: 500px;
    padding-left: 200px;

=======
>>>>>>> 99358342de6109c9747951d1a18d9d8c11035c29
    top: 286px;
    left: 180px;
    width: 74%;
    height: 88%;
<<<<<<< HEAD

}
=======
}
>>>>>>> 99358342de6109c9747951d1a18d9d8c11035c29
