img{
    width:20px;
}

.modal{
<<<<<<< HEAD


    top: 322px;
    width: 100%;
    padding-right: 500px;
    padding-left: 200px;
=======
>>>>>>> 4a4a344cc874a8d49a263043cfadc2cacca12b97
    top: 286px;
    left: 180px;
    width: 74%;
    height: 88%;
<<<<<<< HEAD


}

=======
}
>>>>>>> 4a4a344cc874a8d49a263043cfadc2cacca12b97
